<span style="font-size:100%">

수업은 모두 열심히 들으셨나요?

간혹 강의에서 언급되지 않은 내용이 문제로 나올 수 있습니다.<br>
그럴땐 강의 내용 외 문제는 구글링을 통해 해결해주세요<br></span>
<span style="font-size:80%">
(구글링 또한 개발자가 갖쳐야할 역량 중에 하나랍니다 😊)
</span>

---

<span style="font-size:80%">[문제1]<br><br></span>
```다음 중 for문으로 10번 반복하는 방법으로 올바른 것을 모두 골라주세요```

1. for i in range(10):
2. for i in range(5, 16):
3. for i in range(10, 0):
4. for i in range(20, 40, 2):
5. for i in range(1, 10, 1):

<span style="color:red">답변</span>

1 , 4

----

<span style="font-size:80%">[문제2]<br><br></span>
```아래 코드에서 잘못된 부분에 대해서 설명해주세요```

count = input()

for i in range(count)<br>
&emsp;&emsp;print('i의 값은', end=' ')<br>
&emsp;&emsp;print(i)<br>

<span style="color:red">답변</span>

기본적으로 인풋에서 받는 정보는 숫자여도 문자열로 전달 받습니다. 그렇기 때문에 range에서 타입 오류가 나옵니다.
range(int(count))로 바꿔야 정상적으로 출력 가능합니다.

----

<span style="font-size:80%">[문제3]<br><br></span>
```아래 코드를 실행 했을 때 결과물로 올바른 것을 골라주세요```

for i in reversed("python"):<br>
&emsp;&emsp;print(i, end='.')<br>


1. n.o.h.t.y.p.
2. p.y.t.h.o.n.
3. nothyp
4. python

<span style="color:red">답변</span>

1.

----

<span style="font-size:80%">[문제4]<br><br></span>
```리스트에 저장된 데이터를 아래와 같이 출력하세요```

오피스텔 = [ [201, 202], [301, 302], [401, 402] ]

201호<br>
202호<br>
`----`

301호<br>
302호<br>
`----`

401호<br>
402호<br>
`----`

<span style="color:red">답변</span>

In [1]:
오피스텔 = [[201, 202], [301, 302], [401, 402]]  

for 층 in 오피스텔:  
    for 호수 in 층:  
       print(f"{호수}호")  
    print("----")

201호
202호
----
301호
302호
----
401호
402호
----

----

<span style="font-size:80%">[문제5]<br><br></span>
```ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 150원보다 큰 경우에만 종가를 출력하는 코드를 작성해주세요```

ohlc = [["open", "high", "low", "close"], [100, 110, 70, 100], [200, 210, 180, 190], [300, 310, 300, 310]]

<span style="color:red">답변</span>

In [2]:
ohlc = [["open", "high", "low", "close"], 
        [100, 110, 70, 100], 
        [200, 210, 180, 190], 
        [300, 310, 300, 310]]

for row in ohlc[1:]:  # 첫 번째 행(헤더)은 제외하고 데이터만 순회
    close_price = row[3]  # 종가(close) 값 가져오기
    if close_price > 150:  # 종가가 150보다 큰 경우만 출력
        print(close_price)

190
310